*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


/* regole header */

header{
  padding: 2% 5%;
  background-color: #f1f1f1;
}

.barra-superiore::after{
  content: "";
  display: table;
  clear: both;
}

header #barra-superiore li:nth-child(3), #barra-superiore li:last-child{
  float: right;
}

header #barra-superiore li{
  display: inline-block;
  list-style: none;
  padding: 0 2%;
}

header #barra-superiore a{
  text-decoration: none;
  color: grey;
}

header #barra-superiore a:hover{
  color: black;
}


/* regole main navbar */

#wrapper{
  padding: 2% 5%;
  position: relative;
}


main .main-navbar{
  position: relative;
}

main .main-navbar .menu-navbar li{
  list-style: none;
  padding: 2% 2%;
}


main .main-navbar .menu-navbar a{
  text-decoration: none;
  color: grey;
}

main .main-navbar .menu-navbar a:hover{
  color: black;
}

main .main-navbar .menu-navbar{
  line-height: 10px;
  display: flex;
  align-items: center;
}

.dropdown-square{
  position: absolute;
  top: 80px;
  display: none;
  background-color: white;
  box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.2);
  border-radius: 10px;
  padding: 1% 1%;
  z-index: 99;
}

.dropdown-content{
  display: inline-block;
  position: relative;
  z-index: 99;
}

.dropdown-content li{
  list-style: none;
  margin: 5% 0;
  line-height: 1.3;
}

.dropdown-content a{
  text-decoration: none;
  color: grey;
  display: block;
}

.download-button{
  position: absolute;
  top: 26px;
  right: 36px;
  padding: 1% 1%;
  border-radius: 5px;
  background-color: black;
  color: white;
}

.fa-bars{
  display: none;
}

.menu-mobile{
  display: none;
  position: absolute;
  z-index: 999;
  width: 90%;
  height: 100%;
  padding-right: 2%;
  background-color: white;
}

.menu-mobile::after{
  content: "";
  display: table;
  clear: both;
}

.menu-mobile li{
  list-style: none;
  margin-bottom: 5%;
  margin-top: 2%;
}

.menu-mobile a{
  text-decoration: none;
  color: grey;
}

.menu-mobile a:hover{
  color: black;
}

.menu-mobile i{
  float: right;
}

.close{
  display: block;
  color: grey;
  position: absolute;
  top: -40px;
  right: 14px;
}

hr{
  color: lightgrey;
}

.dropdown-mobile{
  display: none;
}

.content-mobile li{
  font-size: 15px;
  font-weight: lighter;
}

.download-mobile{
  display: none;
  padding: 1% 1%;
  border-radius: 5px;
  background-color: black;
  color: white;
  margin: 0 auto;
  margin-top: 2%;
}

.download-jumbo{
  display: none;
  padding: 1% 1%;
  border-radius: 5px;
  background-color: black;
  color: white;
  margin: 0 auto;
  margin-top: 2%;
}

.ombra-bottone{
  display: none;
}

#logo-mobile{
  display: none;
}


/* regole jumbotron */

.jumbotron{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.jumbotron > .testo{
  margin-left: 2%;
}

.jumbotron h1{
  padding-bottom: 3%;
  font-size: 4rem;
  font-weight: 900;
}

.jumbotron p{
  color: grey;
  line-height: 30px;
}

.jumbotron img{
  margin-left: 25%;
  width: 30%;
  height: auto;
}

.jumbotron h2{
  display: none;
  text-align: center;
  font-weight: 900;
}

.jumbotron button{
  padding: 2% 6%;
  border-radius: 5px;
  background-color: #4c4646;
  color: lightgrey;
}

input{
  padding-top: 10%;
  padding-bottom: 1%;
  border: none;
  border-bottom: 1px solid lightgrey;
  color: lightgrey;
}

.nazione{
  width: 60px;
  margin-right: -2%;
  color: black;
}

.numero{
  margin-left: 2%;
}

article{
  padding-top: 10%;
}

.fa-angle-down{
  color: grey;
}


/* regole responsiveness */

@media screen and (max-width: 768px){

header{
  display: none;
}

#barra-superiore{
  display: none;
}

#logo-mobile{
  position: relative;
  display: block;
  width: 14%;
  margin-top: 2%;
  margin-left: 4%;
}

.main-navbar{
  display: none;
}

.fa-bars{
  display: block;
  color: grey;
  position: absolute;
  top: 30px;
  right: 40px;
}

.download-mobile{
  display: block;
}

.jumbotron{
  display: block;
}

.jumbotron > .testo{
  width: 100%;
  text-align: center;
  margin-left: 0;
}

.testo h1{
  font-size: 3.5rem;
  font-weight: 900;
}

.jumbotron img{
  width: 50%;
  height: auto;
}

.jumbotron h2{
  display: block;
  padding-bottom: 2%;
}

.jumbotron input, .jumbotron i, .jumbotron button, .jumbotron article{
  display: none;
}

.download-jumbo{
  display: block;
}

.ombra-bottone{
  display: block;
  box-shadow: 0 1px;
}


}
