*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

#wrapper{
  padding: 2% 5%;
}


/* regole header */
header{
  padding: 2% 5%;
  background-color: #f1f1f1;
}

.barra-superiore::after{
  content: "";
  display: table;
  clear: both;
}

header #barra-superiore li:nth-child(3), #barra-superiore li:last-child{
  float: right;
}

header #barra-superiore li{
  display: inline-block;
  list-style: none;
  padding: 0 2%;
}

header #barra-superiore a{
  text-decoration: none;
  color: grey;
}

header #barra-superiore a:hover{
  color: black;
}


/* regole main */

.main-navbar{
  position: relative;
}

.main-navbar .menu-navbar li{
  display: inline-block;
  list-style: none;
  padding: 0 2%;
}


.main-navbar .menu-navbar a{
  text-decoration: none;
  color: grey;
}

.main-navbar .menu-navbar a:hover{
  color: black;
}

.main-navbar .menu-navbar{
  line-height: 10px;
  display: flex;
  align-items: center;
}

.dropdown-square{
  position: relative;
  display: none;
  width: 238px;
  /* border: 1px solid lightgrey; */
  border-radius: 5px;
  padding: 2% 2%;
}

.dropdown-content{
  display: inline-block;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content li{
  list-style: none;
  margin-bottom: 8%;
}

.dropdown-content a{
  text-decoration: none;
  color: grey;
  display: block;
}


.download-button{
  position: absolute;
  top: 2px;
  right: 36px;
  padding: 1% 1%;
  border-radius: 5px;
  background-color: black;
  color: white;
}


.menu-mobile{
  display: none;
}


/* regole jumbotron */
.jumbotron{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.jumbotron > .testo{
  margin-left: 2%;
}

.jumbotron h1{
  padding-bottom: 3%;
  font-size: 4rem;
  font-weight: 900;
}

.jumbotron p{
  color: grey;
  line-height: 30px;
}

.jumbotron img{
  margin-left: 25%;
  width: 30%;
  height: auto;
}

.jumbotron button{
  padding: 1% 5%;
  border-radius: 5px;
  background-color: black;
  color: grey;
}
